:root {
  --green: #6aaa64;
  --darkendGreen: #538d4e;
  --yellow: #c9b458;
  --darkendYellow: #b59f3b;
  --lightGray: #d8d8d8;
  --gray: #86888a;
  --darkGray: #939598;
  --white: #fff;
  --black: #212121;
  /* Colorblind colors */
  --orange: #f5793a;
  --blue: #85c0f9;
  font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  --header-height: 50px;
  --keyboard-height: 200px;
  --game-max-width: 500px;
}
/* Light theme colors */
:root {
  --color-tone-1: #1a1a1b;
  --color-tone-2: #787c7e;
  --color-tone-3: #878a8c;
  --color-tone-4: #d3d6da;
  --color-tone-5: #edeff1;
  --color-tone-6: #f6f7f8;
  --color-tone-7: #ffffff;
  --opacity-50: rgba(255, 255, 255, 0.5);
}
/* Dark Theme Colors */
.nightmode {
  --color-tone-1: #d7dadc;
  --color-tone-2: #818384;
  --color-tone-3: #565758;
  --color-tone-4: #3a3a3c;
  --color-tone-5: #272729;
  --color-tone-6: #1a1a1b;
  --color-tone-7: #121213;
  --opacity-50: rgba(0, 0, 0, 0.5);
}
/* Constant colors and colors derived from theme */
:root,
.nightmode {
  --color-background: var(--color-tone-6);
}
:root {
  --color-present: var(--yellow);
  --color-correct: var(--green);
  --color-absent: var(--color-tone-2);
  --tile-text-color: var(--color-tone-7);
  --key-text-color: var(--color-tone-1);
  --key-evaluated-text-color: var(--color-tone-7);
  --key-bg: var(--color-tone-4);
  --key-bg-present: var(--color-present);
  --key-bg-correct: var(--color-correct);
  --key-bg-absent: var(--color-absent);
  --modal-content-bg: var(--color-tone-7);
}
.nightmode {
  --color-present: var(--darkendYellow);
  --color-correct: var(--darkendGreen);
  --color-absent: var(--color-tone-4);
  --tile-text-color: var(--color-tone-1);
  --key-text-color: var(--color-tone-1);
  --key-evaluated-text-color: var(--color-tone-1);
  --key-bg: var(--color-tone-2);
  --key-bg-present: var(--color-present);
  --key-bg-correct: var(--color-correct);
  --key-bg-absent: var(--color-absent);
  --modal-content-bg: var(--color-tone-7);
}
.colorblind {
  --color-correct: var(--orange);
  --color-present: var(--blue);
  --tile-text-color: var(--white);
  --key-bg-present: var(--color-present);
  --key-bg-correct: var(--color-correct);
  --key-bg-absent: var(--color-absent);
}
.toaster {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 0);
  pointer-events: none;
  width: fit-content;
}
#game-toaster {
  z-index: 1000;
}
#system-toaster {
  z-index: 4000;
}
html {
  height: 100%;
}
body {
  height: 100%;
  background-color: var(--color-background);
  margin: 0;
  padding: 0;
  /* Prevent scrollbar appearing on page transition */
  overflow-y: hidden;
}
  
  #container {
    display: flex;
    background-color: var(--color-background);
    height: 100%;
    align-items: center;
    flex-direction: column;
  }
  
  #game {
    width: 100%;
    max-width: var(--game-max-width);
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--header-height);
    color: var(--color-tone-1);
    border-bottom: 1px solid var(--color-tone-4);
  }
  header .title {
    font-weight: 700;
    /* font-size: 36px; */
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    text-align: center;
    /* position: absolute; */
    left: 0;
    right: 0;
    pointer-events: none;
  }

  @media (max-width: 360px) {
    header .title {
      font-size: 22px;
      letter-spacing: 0.1rem;
    }
  }
  
  .title {
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0.4rem 0 0.4rem 0;
    text-align: center;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }

  @keyframes color_change {
    0%  { border-color: rgb(72, 89, 82); }
	20% { border-color: red; }
	80% { border-color: red; }
	100% { border-color: rgb(72, 89, 82); }
}

  #board-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    overflow: hidden;
  }
  
  #board {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5px;
    padding: 10px;
    box-sizing: border-box;
  }
  button.icon {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0 4px;
    color:white;
  }
  
  .square {
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    line-height: 2rem;
    font-weight: bold;
    vertical-align: middle;
    box-sizing: border-box;
    color: var(--tile-text-color);
    text-transform: uppercase;
    user-select: none;
  }

  .square::before {
    content: '';
    display: inline-block;
    padding-bottom: 100%;
  }

  /* Allow tiles to be smaller on small screens */
  @media (max-height: 400px) {
    .square {
      font-size: 1em;
      line-height: 1em;
    }
  }

  .square[data-state='empty'] {
    border: 2px solid var(--color-tone-4);
  }
  .square[data-state='tbd'] {
    /* background-color: var(--color-tone-7); */
    border: 2px solid var(--color-tone-2);
    /* color: var(--color-tone-1); */
  }
  .square[data-state='correct'] {
    background-color: var(--color-correct);
  }
  .square[data-state='present'] {
    background-color: var(--color-present);
  }
  .square[data-state='absent'] {
    background-color: var(--color-absent);
  }



  .square[data-animation='pop'] {
    animation-name: PopIn;
    animation-duration: 100ms;
  }
  
  #keyboard-container {
    height: 200px;
  }
  
  .keyboard-row {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto 8px;
    touch-action: manipulation;
  }
  
  .keyboard-row button {
    font-family: inherit;
    font-weight: bold;
    border: 0;
    padding: 0;
    height: 58px;
    cursor: pointer;
    background-color:  var(--key-bg);
    color: var(--key-text-color);
    flex-grow: 1;
    text-transform: uppercase;
    margin-right: 6px;
    border-radius: 4px;
    user-select: none;
  }
  
  .keyboard-row button.wide-button {
    flex-grow: 1.5;
  }

  .keyboard-row button[data-state='correct'] {
    background-color: var(--color-correct);
  }
  .keyboard-row button[data-state='present'] {
    background-color: var(--color-present);
  }
  .keyboard-row button[data-state='absent'] {
    background-color: var(--color-absent);
  }

  .play-again {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto 8px;
    touch-action: manipulation;
  }

  #play-again{
    font-family: inherit;
    font-weight: bold;
    cursor: pointer;
    background-color: rgb(83, 141, 78);
    color: white;
  }
  
  .spacer-half {
    flex-grow: 0.5;
  }

  .null {
    background-color: black;
  }

  .square[data-state="half"] {
    background-color: rgb(255, 255, 255); /* fallback */
  background-color: rgba(255, 255, 255, 0.5);
  top: 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
  }

@keyframes PopIn {
  from {
    transform: scale(0.8);
    opacity: 0;
  }

  40% {
    transform: scale(1.1);
    opacity: 1;
  }
}
.square[data-animation='flip-in'] {
  animation-name: FlipIn;
  animation-duration: 250ms;
  animation-timing-function: ease-in;
}
@keyframes FlipIn {
  0% {
    transform: rotateX(0);
  }
  100% {
    transform: rotateX(-90deg);
  }
}
.square[data-animation='flip-out'] {
  animation-name: FlipOut;
  animation-duration: 250ms;
  animation-timing-function: ease-in;
}

.square[data-animation='invalid'] {
  animation-name: Shake;
  animation-duration: 600ms;
}

.square[data-animation='win'] {
  animation-name: Bounce;
  animation-duration: 1000ms;
}
@keyframes FlipOut {
  0% {
    transform: rotateX(-90deg);
  }
  100% {
    transform: rotateX(0);
  }
}

.row {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px;
}
.row[data-animation='invalid'] {
  animation-name: Shake;
  animation-duration: 600ms;
}
.win {
  animation-name: Bounce;
  animation-duration: 1000ms;
}

@keyframes Bounce {
  0%, 20% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  50% {
    transform: translateY(5px);
  }
  60% {
    transform: translateY(-15px);
  }
  80% {
    transform: translateY(2px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes Shake {
  10%,
  90% {
    transform: translateX(-1px);
  }

  20%,
  80% {
    transform: translateX(2px);
  }

  30%,
  50%,
  70% {
    transform: translateX(-4px);
  }

  40%,
  60% {
    transform: translateX(4px);
  }
}


/* The Modal (background) */
.modal {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  background-color: var(--opacity-50);
  z-index: 3000;
}

/* Modal Content */
.modal-content {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 16px; 
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  border: 1px solid var(--color-tone-6);
  background-color: var(--modal-content-bg);
  color: var(--color-tone-1);
  box-shadow: 0 4px 23px 0 rgba(0, 0, 0, 0.2);
  width: 90%;
  max-height: 90%;
  overflow-y: auto;
  animation: FadeIn 200ms;
  max-width: var(--game-max-width);
  box-sizing: border-box;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  display: block;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

h1 {
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10px;
}

#statistics {
  display: flex;
  margin-bottom:auto
}

.statistic-container {
  flex: 1;
}

.statistic-container .statistic {
  font-size: 36px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  letter-spacing: 0.05em;
  font-variant-numeric: proportional-nums;
}

.statistic.timer {
  font-variant-numeric: initial;
}

.statistic-container .label {
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.footer {
  display: flex;
  width: 100%;
  margin-top: 20px;
}


@keyframes FadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

